In [23]:
import numpy as np
import requests
import pandas as pd

In [2]:
response=requests.get('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')

In [3]:
# olddata=pd.DataFrame()
# for i in list(range(18,20)):
    
#     date='20'+str(i)
#     websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE,YEAR'
#     print(websitelink)
#     try:
#         df=pd.read_json(websitelink)
#     except:
#         websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*'
#         df=pd.read_json(websitelink)
#     df = df.iloc[1: , :]
#     df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
#     df.ESTAB=df.ESTAB.astype('float')
#     newdata=df.groupby(['ZIPCODE']).sum()
    
#     olddata=pd.concat([newdata,olddata], ignore_index=True, sort=False)
    
    
    
# # pd.read_csv('col_droptrain7.15.csv')
# # pd.read_csv('col_droptest7.15.csv')
# # pd.read_csv('col_droppredict7.15.csv')

In [24]:
tempdata=pd.read_csv('col_droptrain7.16_3year.csv',index_col=False)
tempdata.RegionName=tempdata.RegionName.apply(lambda x:x[:-8].zfill(5))

In [25]:
# #2019
# df=pd.read_json('https://api.census.gov/data/2019/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
# df = df.iloc[1: , :]
# df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2019*np.ones(len((df))))})
# df.ESTAB=df.ESTAB.astype('float')
# _2019data=df.groupby(['ZIPCODE']).sum()

In [26]:
#2018
df=pd.read_json('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
df.ESTAB=df.ESTAB.astype('float')
_2018data=df.groupby(['ZIPCODE']).sum()
_2018data['YEAR']=list(2018*np.ones(len((_2018data))))
_2018data=_2018data.reset_index()

In [27]:
#2017
df=pd.read_json('https://api.census.gov/data/2017/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2017*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2017data=df.groupby(['ZIPCODE']).sum()
_2017data=_2017data.reset_index()

In [28]:
#2016
df=pd.read_json('https://api.census.gov/data/2016/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2016*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2016data=df.groupby(['ZIPCODE']).sum()
_2016data=_2016data.reset_index()

In [29]:
#2015
df=pd.read_json('https://api.census.gov/data/2015/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2015*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2015data=df.groupby(['ZIPCODE']).sum()
_2015data=_2015data.reset_index()

In [30]:
#2014
df=pd.read_json('https://api.census.gov/data/2014/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2014*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2014data=df.groupby(['ZIPCODE']).sum()
_2014data=_2014data.reset_index()

In [31]:
#2013
df=pd.read_json('https://api.census.gov/data/2013/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2013*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2013data=df.groupby(['ZIPCODE']).sum()
_2013data=_2013data.reset_index()

In [32]:
#2012
df=pd.read_json('https://api.census.gov/data/2012/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2012*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2012data=df.groupby(['ZIPCODE']).sum()
_2012data=_2012data.reset_index()

In [33]:
#2011
df=pd.read_json('https://api.census.gov/data/2011/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2011*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2011data=df.groupby(['ZIPCODE']).sum()
_2011data=_2011data.reset_index()

In [34]:
_2011data

      ZIPCODE    ESTAB    YEAR
0       00501      2.0  2011.0
1       01001    436.0  2011.0
2       01002    558.0  2011.0
3       01003     16.0  2011.0
4       01004     19.0  2011.0
...       ...      ...     ...
39027   99927      3.0  2011.0
39028   99928      9.0  2011.0
39029   99929     77.0  2011.0
39030   99950      7.0  2011.0
39031   99999  18803.0  2011.0

[39032 rows x 3 columns]

In [35]:
fullbusinessesdata=pd.concat([_2011data,_2012data,_2013data,_2014data,_2015data,_2016data,_2017data,_2018data], ignore_index=True, sort=False)
fullbusinessesdata.ZIPCODE=fullbusinessesdata.ZIPCODE.apply(lambda x: x.lstrip('0')) 
#fullbusinessesdata.ZIPCODE=
#str(fullbusinessesdata.ZIPCODE)+'-'+str(int(fullbusinessesdata.YEAR))+'-09'

In [36]:
fullbusinessesdata

       ZIPCODE    ESTAB    YEAR
0          501      2.0  2011.0
1         1001    436.0  2011.0
2         1002    558.0  2011.0
3         1003     16.0  2011.0
4         1004     19.0  2011.0
...        ...      ...     ...
303434   99926     21.0  2018.0
303435   99928      8.0  2018.0
303436   99929    192.0  2018.0
303437   99950     29.0  2018.0
303438   99999  62528.0  2018.0

[303439 rows x 3 columns]

In [37]:
#the number 3 at end of str(int(x[2])+3) is how many years to stagger. to predict 1 year out want +2 bc comes out one year after and then one year after that
fullbusinessesdata.ZIPCODE=fullbusinessesdata.apply(lambda x: str(x[0])+'-'+str(int(x[2])+4)+'-09',axis=1)

In [38]:

fullbusinessesdata

              ZIPCODE    ESTAB    YEAR
0         501-2015-09      2.0  2011.0
1        1001-2015-09    436.0  2011.0
2        1002-2015-09    558.0  2011.0
3        1003-2015-09     16.0  2011.0
4        1004-2015-09     19.0  2011.0
...               ...      ...     ...
303434  99926-2022-09     21.0  2018.0
303435  99928-2022-09      8.0  2018.0
303436  99929-2022-09    192.0  2018.0
303437  99950-2022-09     29.0  2018.0
303438  99999-2022-09  62528.0  2018.0

[303439 rows x 3 columns]

In [39]:
col_droptrain=pd.read_csv('col_droptrain7.16_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TRAINDATAnewcols7.16_3year.csv',index=False)

In [40]:
col_droptrain=pd.read_csv('col_droppredict7.16_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('PREDICTDATAnewcols7.16_3year.csv',index=False)

<ipython-input-40-1ac147a04326>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()

In [41]:
col_droptrain=pd.read_csv('col_droptest7.16_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TESTDATAnewcols7.16_3year.csv',index=False)

In [22]:
train_data_w_businesses

,RegionName,City,State,Rent,total_pop,median_age,median_income,million_dollar_housing_units,dwellings_50_or_more_units,mobile_homes,...,Perc_commuter_by_public_transport,Perc_worked_at_home,Perc_different_house_year_ago_same_city,Perc_different_house_year_ago_dif_city,perc_housing_built_2005_or_later,ESTAB,HIFL_hospital_count,HIFL_transit_station_count,HIFL_uni,HIFL_govbldg
0,53207-2016-09,Milwaukee,WI,867.0,36790.0,36.1,54889.0,16.0,495.0,41.0,...,0.041661,0.023303,0.086219,0.052324,0.003175,751.00000,0.0,0.0,0.0,0.0
1,10314-2014-09,New York,NY,1429.0,87921.0,40.8,79820.0,237.0,1077.0,15.0,...,0.264632,0.020890,0.048669,0.006904,0.000369,1409.37415,0.0,0.0,1.0,0.0
2,80226-2016-09,Lakewood,CO,1372.0,31616.0,35.6,52308.0,36.0,841.0,213.0,...,0.046253,0.039560,0.074772,0.147647,0.001033,914.00000,0.0,0.0,2.0,0.0
3,43204-2016-09,Columbus,OH,895.0,39651.0,34.7,40297.0,43.0,233.0,282.0,...,0.027856,0.019704,0.101990,0.050919,0.001307,572.00000,0.0,0.0,0.0,0.0
4,91913-2016-09,Chula Vista,CA,2019.0,43655.0,32.2,84741.0,102.0,1909.0,273.0,...,0.016439,0.050588,0.027259,0.064414,0.031801,249.00000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,53703-2015-09,Madison,WI,1222.0,28111.0,24.1,26257.0,53.0,3748.0,0.0,...,0.178776,0.035301,0.346733,0.195226,0.011597,1220.00000,0.0,0.0,1.0,16.0
1991,20010-2016-09,Washington,DC,2162.0,33670.0,31.6,66859.0,181.0,4302.0,9.0,...,0.525041,0.041512,0.113187,0.075884,0.009745,488.00000,3.0,1.0,0.0,2.0
1992,33020-2016-09,Hollywood,FL,1388.0,42132.0,38.9,35904.0,21.0,1881.0,56.0,...,0.066370,0.023999,0.090122,0.140748,0.000000,1500.00000,1.0,0.0,0.0,0.0
1993,70115-2016-09,New Orleans,LA,1527.0,34429.0,37.7,52021.0,308.0,492.0,193.0,...,0.068026,0.042846,0.122629,0.076912,0.011593,900.00000,4.0,17.0,0.0,0.0
1994,90046-2017-09,Los Angeles,CA,2452.0,51651.0,38.9,57941.0,1178.0,4561.0,38.0,...,0.042154,0.129602,0.086078,0.125593,0.000958,2003.00000,0.0,0.0,1.0,0.0