In [4]:
import numpy as np
import requests
import pandas as pd

In [ ]:
response=requests.get('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')

In [ ]:
# olddata=pd.DataFrame()
# for i in list(range(18,20)):
    
#     date='20'+str(i)
#     websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE,YEAR'
#     print(websitelink)
#     try:
#         df=pd.read_json(websitelink)
#     except:
#         websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*'
#         df=pd.read_json(websitelink)
#     df = df.iloc[1: , :]
#     df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
#     df.ESTAB=df.ESTAB.astype('float')
#     newdata=df.groupby(['ZIPCODE']).sum()
    
#     olddata=pd.concat([newdata,olddata], ignore_index=True, sort=False)
    
    
    
# # pd.read_csv('col_droptrain7.15.csv')
# # pd.read_csv('col_droptest7.15.csv')
# # pd.read_csv('col_droppredict7.15.csv')

In [ ]:
tempdata=pd.read_csv('col_droptrain7.16_3year.csv')
tempdata.RegionName=tempdata.RegionName.apply(lambda x:x[:-8].zfill(5))

In [ ]:
# #2019
# df=pd.read_json('https://api.census.gov/data/2019/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
# df = df.iloc[1: , :]
# df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2019*np.ones(len((df))))})
# df.ESTAB=df.ESTAB.astype('float')
# _2019data=df.groupby(['ZIPCODE']).sum()

In [5]:
#2018
df=pd.read_json('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
df.ESTAB=df.ESTAB.astype('float')
_2018data=df.groupby(['ZIPCODE']).sum()
_2018data['YEAR']=list(2018*np.ones(len((_2018data))))
_2018data=_2018data.reset_index()

In [6]:
#2017
df=pd.read_json('https://api.census.gov/data/2017/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2017*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2017data=df.groupby(['ZIPCODE']).sum()
_2017data=_2017data.reset_index()

In [7]:
#2016
df=pd.read_json('https://api.census.gov/data/2016/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2016*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2016data=df.groupby(['ZIPCODE']).sum()
_2016data=_2016data.reset_index()

In [8]:
#2015
df=pd.read_json('https://api.census.gov/data/2015/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2015*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2015data=df.groupby(['ZIPCODE']).sum()
_2015data=_2015data.reset_index()

In [9]:
#2014
df=pd.read_json('https://api.census.gov/data/2014/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2014*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2014data=df.groupby(['ZIPCODE']).sum()
_2014data=_2014data.reset_index()

In [10]:
#2013
df=pd.read_json('https://api.census.gov/data/2013/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2013*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2013data=df.groupby(['ZIPCODE']).sum()
_2013data=_2013data.reset_index()

In [11]:
#2012
df=pd.read_json('https://api.census.gov/data/2012/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2012*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2012data=df.groupby(['ZIPCODE']).sum()
_2012data=_2012data.reset_index()

In [12]:
#2011
df=pd.read_json('https://api.census.gov/data/2011/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2011*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2011data=df.groupby(['ZIPCODE']).sum()
_2011data=_2011data.reset_index()

In [ ]:
_2011data

In [17]:
fullbusinessesdata=pd.concat([_2011data,_2012data,_2013data,_2014data,_2015data,_2016data,_2017data,_2018data], ignore_index=True, sort=False)
fullbusinessesdata.ZIPCODE=fullbusinessesdata.ZIPCODE.apply(lambda x: x.lstrip('0')) 
#fullbusinessesdata.ZIPCODE=
#str(fullbusinessesdata.ZIPCODE)+'-'+str(int(fullbusinessesdata.YEAR))+'-09'

In [18]:
fullbusinessesdata

       ZIPCODE    ESTAB    YEAR
0          501      2.0  2011.0
1         1001    436.0  2011.0
2         1002    558.0  2011.0
3         1003     16.0  2011.0
4         1004     19.0  2011.0
...        ...      ...     ...
303434   99926     21.0  2018.0
303435   99928      8.0  2018.0
303436   99929    192.0  2018.0
303437   99950     29.0  2018.0
303438   99999  62528.0  2018.0

[303439 rows x 3 columns]

In [19]:
#the number 3 at end of str(int(x[2])+3) is how many years to stagger. to predict 1 year out want +2 bc comes out one year after and then one year after that
fullbusinessesdata.ZIPCODE=fullbusinessesdata.apply(lambda x: str(x[0])+'-'+str(int(x[2])+4)+'-09',axis=1)

In [20]:

fullbusinessesdata

              ZIPCODE    ESTAB    YEAR
0         501-2015-09      2.0  2011.0
1        1001-2015-09    436.0  2011.0
2        1002-2015-09    558.0  2011.0
3        1003-2015-09     16.0  2011.0
4        1004-2015-09     19.0  2011.0
...               ...      ...     ...
303434  99926-2022-09     21.0  2018.0
303435  99928-2022-09      8.0  2018.0
303436  99929-2022-09    192.0  2018.0
303437  99950-2022-09     29.0  2018.0
303438  99999-2022-09  62528.0  2018.0

[303439 rows x 3 columns]

In [21]:
col_droptrain=pd.read_csv('col_droptrain7.16_3year.csv')
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv')
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv')
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TRAINDATAnewcols7.16_3year.csv')

<ipython-input-21-27a6c7628567>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()

In [22]:
col_droptrain=pd.read_csv('col_droppredict7.16_3year.csv')
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv')
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv')
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('PREDICTDATAnewcols7.16_3year.csv')

<ipython-input-22-1ec34eaf8d3a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()

In [23]:
col_droptrain=pd.read_csv('col_droptest7.16_3year.csv')
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv')
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv')
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TESTDATAnewcols7.16_3year.csv')

<ipython-input-23-014ddb11f581>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()