In [23]:
import numpy as np
import requests
import pandas as pd

In [2]:
response=requests.get('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')

In [3]:
# olddata=pd.DataFrame()
# for i in list(range(18,20)):
    
#     date='20'+str(i)
#     websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE,YEAR'
#     print(websitelink)
#     try:
#         df=pd.read_json(websitelink)
#     except:
#         websitelink='https://api.census.gov/data/'+date+'/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*'
#         df=pd.read_json(websitelink)
#     df = df.iloc[1: , :]
#     df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
#     df.ESTAB=df.ESTAB.astype('float')
#     newdata=df.groupby(['ZIPCODE']).sum()
    
#     olddata=pd.concat([newdata,olddata], ignore_index=True, sort=False)
    
    
    
# # pd.read_csv('col_droptrain7.15.csv')
# # pd.read_csv('col_droptest7.15.csv')
# # pd.read_csv('col_droppredict7.15.csv')

In [24]:
# tempdata=pd.read_csv('col_droptrain7.16_3year.csv',index_col=False)
# tempdata.RegionName=tempdata.RegionName.apply(lambda x:x[:-8].zfill(5))

In [25]:
# #2019
# df=pd.read_json('https://api.census.gov/data/2019/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
# df = df.iloc[1: , :]
# df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2019*np.ones(len((df))))})
# df.ESTAB=df.ESTAB.astype('float')
# _2019data=df.groupby(['ZIPCODE']).sum()

In [26]:
#2018
df=pd.read_json('https://api.census.gov/data/2018/zbp?get=EMP,ESTAB,ZIPCODE,YEAR')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(df.loc[:,3])})
df.ESTAB=df.ESTAB.astype('float')
_2018data=df.groupby(['ZIPCODE']).sum()
_2018data['YEAR']=list(2018*np.ones(len((_2018data))))
_2018data=_2018data.reset_index()

In [85]:
#2017
df=pd.read_json('https://api.census.gov/data/2017/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2])})
df.ESTAB=df.ESTAB.astype('float')
_2017data=df.groupby(['ZIPCODE']).sum()
_2017data['YEAR']=list(2017*np.ones(len((_2017data))))
_2017data=_2017data.reset_index()

In [82]:
#2016
df=pd.read_json('https://api.census.gov/data/2016/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2016*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2016data=df.groupby(['ZIPCODE']).sum()
_2016data=_2016data.reset_index()

In [29]:
#2015
df=pd.read_json('https://api.census.gov/data/2015/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2015*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2015data=df.groupby(['ZIPCODE']).sum()
_2015data=_2015data.reset_index()

In [30]:
#2014
df=pd.read_json('https://api.census.gov/data/2014/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2014*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2014data=df.groupby(['ZIPCODE']).sum()
_2014data=_2014data.reset_index()

In [31]:
#2013
df=pd.read_json('https://api.census.gov/data/2013/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2013*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2013data=df.groupby(['ZIPCODE']).sum()
_2013data=_2013data.reset_index()

In [32]:
#2012
df=pd.read_json('https://api.census.gov/data/2012/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2012*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2012data=df.groupby(['ZIPCODE']).sum()
_2012data=_2012data.reset_index()

In [33]:
#2011
df=pd.read_json('https://api.census.gov/data/2011/zbp?get=EMP,ESTAB,ZIPCODE&for=ZIPCODE:*')
df = df.iloc[1: , :]
df=pd.DataFrame({'EMP':list(df.loc[:,0]), 'ESTAB':list(df.loc[:,1]),'ZIPCODE':list(df.loc[:,2]),'YEAR':list(2011*np.ones(len((df))))})
df.ESTAB=df.ESTAB.astype('float')
_2011data=df.groupby(['ZIPCODE']).sum()
_2011data=_2011data.reset_index()

In [34]:
_2011data

      ZIPCODE    ESTAB    YEAR
0       00501      2.0  2011.0
1       01001    436.0  2011.0
2       01002    558.0  2011.0
3       01003     16.0  2011.0
4       01004     19.0  2011.0
...       ...      ...     ...
39027   99927      3.0  2011.0
39028   99928      9.0  2011.0
39029   99929     77.0  2011.0
39030   99950      7.0  2011.0
39031   99999  18803.0  2011.0

[39032 rows x 3 columns]

In [120]:
fullbusinessesdata=pd.concat([_2011data,_2012data,_2013data,_2014data,_2015data,_2016data,_2017data,_2018data], ignore_index=True, sort=False)
fullbusinessesdata.ZIPCODE=fullbusinessesdata.ZIPCODE.apply(lambda x: x.lstrip('0')) 
#fullbusinessesdata.ZIPCODE=
#str(fullbusinessesdata.ZIPCODE)+'-'+str(int(fullbusinessesdata.YEAR))+'-09'

In [121]:
fullbusinessesdata[fullbusinessesdata.ZIPCODE=='10025']

       ZIPCODE   ESTAB    YEAR
2946     10025  2040.0  2011.0
41966    10025  2052.0  2012.0
80786    10025  2055.0  2013.0
119588   10025  2045.0  2014.0
158375   10025  2027.0  2015.0
197121   10025  2044.0  2016.0
235691   10025  3954.0  2017.0
270961   10025  4018.0  2018.0

In [122]:
#the number 3 at end of str(int(x[2])+3) is how many years to stagger. to predict 1 year out want +2 bc comes out one year after and then one year after that
fullbusinessesdata.ZIPCODE=fullbusinessesdata.apply(lambda x: str(x[0])+'-'+str(int(x[2])+4)+'-09',axis=1)

In [123]:
fullbusinessesdata[fullbusinessesdata.YEAR==2017].head(50)
#fullbusinessesdata[fullbusinessesdata.ZIPCODE=='1063-2019-09']

             ZIPCODE   ESTAB    YEAR
232916  1001-2021-09   943.0  2017.0
232917  1002-2021-09  1087.0  2017.0
232918  1003-2021-09    36.0  2017.0
232919  1004-2021-09    19.0  2017.0
232920  1005-2021-09   184.0  2017.0
232921  1007-2021-09   443.0  2017.0
232922  1008-2021-09    42.0  2017.0
232923  1009-2021-09    33.0  2017.0
232924  1010-2021-09   162.0  2017.0
232925  1011-2021-09    21.0  2017.0
232926  1012-2021-09    14.0  2017.0
232927  1013-2021-09   642.0  2017.0
232928  1020-2021-09  1108.0  2017.0
232929  1021-2021-09    10.0  2017.0
232930  1022-2021-09   127.0  2017.0
232931  1026-2021-09    42.0  2017.0
232932  1027-2021-09   830.0  2017.0
232933  1028-2021-09  1019.0  2017.0
232934  1029-2021-09    24.0  2017.0
232935  1030-2021-09   417.0  2017.0
232936  1031-2021-09    40.0  2017.0
232937  1032-2021-09    52.0  2017.0
232938  1033-2021-09   261.0  2017.0
232939  1034-2021-09    61.0  2017.0
232940  1035-2021-09   629.0  2017.0
232941  1036-2021-09   230.0  2017.0
232942  1037-2021-09    33.0  2017.0
232943  1038-2021-09   125.0  2017.0
232944  1039-2021-09    67.0  2017.0
232945  1040-2021-09  1714.0  2017.0
232946  1041-2021-09    45.0  2017.0
232947  1050-2021-09    65.0  2017.0
232948  1053-2021-09    52.0  2017.0
232949  1054-2021-09    74.0  2017.0
232950  1056-2021-09   826.0  2017.0
232951  1057-2021-09   265.0  2017.0
232952  1059-2021-09    11.0  2017.0
232953  1060-2021-09  1509.0  2017.0
232954  1061-2021-09    33.0  2017.0
232955  1062-2021-09   390.0  2017.0
232956  1063-2021-09     4.0  2017.0
232957  1066-2021-09    17.0  2017.0
232958  1068-2021-09    58.0  2017.0
232959  1069-2021-09   519.0  2017.0
232960  1070-2021-09    17.0  2017.0
232961  1071-2021-09    40.0  2017.0
232962  1072-2021-09    42.0  2017.0
232963  1073-2021-09   267.0  2017.0
232964  1074-2021-09    12.0  2017.0
232965  1075-2021-09   617.0  2017.0

In [124]:
col_droptrain=pd.read_csv('col_droptrain7.18_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TRAINDATAnewcols7.18_3year.csv',index=False)

In [125]:
col_droptrain=pd.read_csv('col_droppredict7.18_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )
train_data_w_businesses

,RegionName,City,State,Rent,Current Rent,total_pop,median_age,median_income,households_retirement_income,gini_index,...,dwellings_50_or_more_units_perc,poverty_perc,employed_in_finance_information_perc,housing_per_pop,renter_occupied_units_perc,married_households_perc,pop_in_labor_force_perc,ZIPCODE,ESTAB,YEAR
0,10025-2019-09,New York,NY,3698.0,3694.000000,96068.0,40.3,74065.0,5853.0,0.5701,...,0.575055,0.155213,0.161304,0.499074,0.687767,0.309232,0.566463,10025-2019-09,2027.0,2015.0
1,60657-2019-09,Chicago,IL,1806.0,1755.000000,69147.0,30.9,79638.0,2283.0,0.5041,...,0.310834,0.097690,0.162218,0.579577,0.576679,0.253741,0.740668,60657-2019-09,1875.0,2015.0
2,10023-2019-09,New York,NY,3521.0,3652.000000,60586.0,42.1,111478.0,4277.0,0.5611,...,0.678222,0.079639,0.302464,0.676575,0.484399,0.308319,0.604199,10023-2019-09,2384.0,2015.0
3,77494-2019-09,Katy,TX,1252.0,1304.000000,88077.0,34.4,134125.0,2142.0,0.3454,...,0.021013,0.022253,0.080529,0.316632,0.149419,0.764232,0.469351,77494-2019-09,1645.0,2015.0
4,60614-2019-09,Chicago,IL,1952.0,1828.000000,69423.0,30.1,92714.0,2065.0,0.5235,...,0.321038,0.101494,0.192526,0.527563,0.528519,0.292004,0.683837,60614-2019-09,2235.0,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,60606-2017-09,Chicago,IL,2210.0,2045.000000,2789.0,30.9,109324.0,48.0,0.4170,...,0.965295,0.066691,0.095591,0.723198,0.432325,0.242460,0.821441,60606-2017-09,3325.0,2013.0
4481,12307-2017-09,Schenectady,NY,966.0,883.750000,7619.0,30.6,21875.0,308.0,0.4587,...,0.033495,0.463053,0.044172,0.513322,0.445410,0.273074,0.353590,12307-2017-09,125.0,2013.0
4482,2142-2017-09,Cambridge,MA,3284.0,2896.402889,2838.0,29.3,100114.0,77.0,0.5522,...,0.859561,0.182875,0.108710,0.562016,0.757994,0.283755,0.538055,2142-2017-09,542.0,2013.0
4483,18232-2017-09,Lansford,PA,798.0,699.972000,3914.0,42.7,32436.0,414.0,0.3795,...,0.031612,0.187021,0.007160,0.573838,0.284506,0.378394,0.428206,18232-2017-09,40.0,2013.0
4484,75202-2017-09,Dallas,TX,1493.0,1344.000000,2133.0,31.5,79681.0,79.0,0.3407,...,0.875158,0.065635,0.134041,0.739803,0.737009,0.102298,0.926864,75202-2017-09,622.0,2013.0

In [126]:
train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('PREDICTDATAnewcols7.18_3year.csv',index=False)

In [127]:
col_droptrain=pd.read_csv('col_droptest7.18_3year.csv',index_col=False)
train_data_w_businesses=col_droptrain.merge(fullbusinessesdata,how='left',left_on='RegionName', right_on='ZIPCODE' )

train_data_w_businesses=train_data_w_businesses.drop(['ZIPCODE','YEAR'],axis=1)

for i in (train_data_w_businesses[train_data_w_businesses.ESTAB.isna()].City).index:
    train_data_w_businesses.ESTAB[i]=train_data_w_businesses.ESTAB[train_data_w_businesses.City.iloc[1]==train_data_w_businesses.City].mean()
               
hospitaldf=pd.read_csv('HIFL_hospital_transit_features.csv',index_col=False)
hospitaldf.geo_id=hospitaldf.geo_id.astype('str')

train_data_w_businesses['zipnoyear']=train_data_w_businesses.RegionName.apply(lambda x:x[:-8])
train_data_w_businesses=train_data_w_businesses.merge(hospitaldf,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id'],axis=1)
unidata=pd.read_csv('HIFL_uni_gov_features.csv',index_col=False)
unidata.geo_id=unidata.geo_id.astype('str')
train_data_w_businesses=train_data_w_businesses.merge(unidata,how='left',left_on='zipnoyear', right_on='geo_id' )
train_data_w_businesses=train_data_w_businesses.drop(['geo_id','zipnoyear'],axis=1)
train_data_w_businesses



train_data_w_businesses.to_csv('TESTDATAnewcols7.18_3year.csv',index=False)

In [128]:
train_data_w_businesses

,RegionName,City,State,Rent,Current Rent,total_pop,median_age,median_income,households_retirement_income,gini_index,...,employed_in_finance_information_perc,housing_per_pop,renter_occupied_units_perc,married_households_perc,pop_in_labor_force_perc,ESTAB,HIFL_hospital_count,HIFL_transit_station_count,HIFL_uni,HIFL_govbldg
0,91101-2016-09,Pasadena,CA,2081.0,1712.141127,21545.0,33.4,55995.0,843.0,0.4689,...,0.154278,0.550058,0.777234,0.241246,0.619448,1880.0,0.0,1.0,2.0,0.0
1,5401-2016-09,Burlington,VT,1771.0,983.294000,27970.0,27.4,37684.0,1023.0,0.5148,...,0.056885,0.464569,0.677390,0.233594,0.645477,1291.0,1.0,0.0,1.0,1.0
2,94801-2016-09,Richmond,CA,2335.0,1575.000000,29277.0,30.3,43084.0,919.0,0.5037,...,0.057004,0.358097,0.493132,0.370943,0.483554,377.0,0.0,1.0,0.0,0.0
3,46205-2016-09,Indianapolis,IN,752.0,634.000000,26351.0,33.3,36602.0,1586.0,0.4904,...,0.075433,0.550036,0.406582,0.250353,0.558423,516.0,0.0,0.0,0.0,0.0
4,92656-2016-09,Aliso Viejo,CA,2081.0,1689.029071,49067.0,36.0,96855.0,1307.0,0.3635,...,0.138450,0.405120,0.348526,0.521325,0.602503,1199.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,53216-2016-09,Milwaukee,WI,687.0,658.000000,32231.0,34.1,35258.0,1761.0,0.4248,...,0.081218,0.434985,0.442653,0.237593,0.485154,418.0,0.0,0.0,1.0,0.0
490,14850-2016-09,Town Of Ithaca,NY,1568.0,1386.000000,64394.0,26.3,47022.0,3496.0,0.5219,...,0.045779,0.415085,0.501889,0.348442,0.511554,1736.0,1.0,0.0,4.0,0.0
491,60612-2016-09,Chicago,IL,1581.0,1412.000000,35584.0,30.3,35120.0,834.0,0.5448,...,0.084531,0.445818,0.566188,0.228621,0.465434,926.0,4.0,9.0,3.0,0.0
492,4937-2016-09,Fairfield,ME,909.0,821.000000,6527.0,42.7,46076.0,484.0,0.3880,...,0.055634,0.495787,0.205810,0.523252,0.542516,142.0,0.0,0.0,1.0,0.0
493,22180-2016-09,Vienna,VA,1832.0,1716.854400,23717.0,38.5,125905.0,1921.0,0.3979,...,0.080338,0.353586,0.235750,0.621194,0.568917,922.0,0.0,1.0,0.0,0.0