In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
def dataclean(zillow_yvalues_data,census_data,date):
    # takes in the zillow data with all the years and acs census data of two years before 
    # year to predict and date formatted '2020-01' and joins the census on zillow and cleans 
    
    
    zillow_yvalues_data_yearsubsect=zillow_yvalues_data[['RegionName','City','State',date]]
    fulldata=zillow_yvalues_data_yearsubsect.merge(census_data,how='left',left_on='RegionName', right_on='geo_id' ).drop(['geo_id'],axis=1)
    fulldata=fulldata[fulldata[date].isna()!=1]
    #drop column if >20% are nas 
    cols_to_drop=['do_date']
    for i in fulldata.columns:

        if sum(fulldata[i].isna())/len(fulldata)> .2:
            cols_to_drop.append(i)
    print(cols_to_drop)
    fulldata=fulldata.drop(cols_to_drop,axis=1)
    #drop rows with more than 50% nas
    #in this jan2020was one row
    fulldata=fulldata.loc[fulldata.isna().sum(axis=1)<.5*len(fulldata.columns)]
    #num of missing values in columns
    countofcols=0
    cols_with_na=[]
    for i in fulldata.columns:
        if i in cols_to_drop:
            print(i)
        elif sum(fulldata[i].isna())>0:
#             print('Column:',i)
#             print('Num of NAs:',sum(fulldata[i].isna()))
#             print('Num of 0s:',sum(fulldata[i]==0))
            cols_with_na.append(i)
            countofcols+=1
    #fill in nas with avrg of the column for the city 
    for i in cols_with_na:
        for indexofna in (list(fulldata[i][fulldata[i].isna()].index)):

            if bool(~(fulldata[fulldata.City==fulldata.loc[indexofna,'City']][i].mean()==fulldata[fulldata.City==fulldata.loc[indexofna,'City']][i].mean())):
                fulldata.loc[indexofna,i]=fulldata[fulldata.State==fulldata.loc[indexofna,'State']][i].mean()
                
            else:
                fulldata.loc[indexofna,i]=fulldata[fulldata.City==fulldata.loc[indexofna,'City']][i].mean()
                
    
    return fulldata

In [4]:
#fulldata=dataclean(zillow_yvalues_data,census_data,date)

# Assembling training data w yvals from 2011-2017 and before 
-means census data from 2015 and before

In [5]:

#load and interpolate vals from ZRI
df = pd.read_csv('Zip_Zri_MultiFamilyResidenceRental-2.csv')
zillow_yvalues_data=pd.merge(df.iloc[:,0:7], df.iloc[:,8:].interpolate(axis=1), left_index=True, right_index=True)

In [6]:

census_data= pd.read_csv('acs_data/acs2015.csv')
date='2017-01'
fulldata2017=dataclean(zillow_yvalues_data,census_data,date)
fulldata2017['RegionName']=fulldata2017['RegionName'].astype(str)+'-'+date
fulldata2017=fulldata2017.rename(columns={date: 'Rent'})

['do_date', 'geoid']

In [7]:
census_data= pd.read_csv('acs_data/acs2014.csv')
date='2016-01'
fulldata2016=dataclean(zillow_yvalues_data,census_data,date)

fulldata2016['RegionName']=fulldata2016['RegionName'].astype(str)+'-'+date
fulldata2016=fulldata2016.rename(columns={date: 'Rent'})

['do_date']

In [8]:
census_data= pd.read_csv('acs_data/acs2013.csv')
date='2015-01'
fulldata2015=dataclean(zillow_yvalues_data,census_data,date)
fulldata2015['RegionName']=fulldata2015['RegionName'].astype(str)+'-'+date
fulldata2015=fulldata2015.rename(columns={date: 'Rent'})

['do_date']

In [9]:
census_data= pd.read_csv('acs_data/acs2012.csv')
date='2014-01'
fulldata2014=dataclean(zillow_yvalues_data,census_data,date)
fulldata2014['RegionName']=fulldata2014['RegionName'].astype(str)+'-'+date
fulldata2014=fulldata2014.rename(columns={date: 'Rent'})

['do_date']

In [10]:
census_data= pd.read_csv('acs_data/acs2011.csv')
date='2013-01'
fulldata2013=dataclean(zillow_yvalues_data,census_data,date)
fulldata2013['RegionName']=fulldata2013['RegionName'].astype(str)+'-'+date
fulldata2013=fulldata2013.rename(columns={date: 'Rent'})

['do_date', 'associates_degree', 'bachelors_degree', 'high_school_diploma', 'less_one_year_college', 'masters_degree', 'one_year_more_college', 'pop_25_years_over']

In [11]:
census_data= pd.read_csv('acs_data/acs2016.csv')
date='2018-01'
fulldata2018=dataclean(zillow_yvalues_data,census_data,date)
fulldata2018['RegionName']=fulldata2018['RegionName'].astype(str)+'-'+date
fulldata2018=fulldata2018.rename(columns={date: 'Rent'})

['do_date', 'pop_5_years_over', 'speak_only_english_at_home', 'speak_spanish_at_home', 'speak_spanish_at_home_low_english', 'pop_15_and_over', 'pop_never_married', 'pop_now_married', 'pop_separated', 'pop_widowed', 'pop_divorced']

In [12]:
census_data= pd.read_csv('acs_data/acs2017.csv')
date='2019-01'
fulldata2019=dataclean(zillow_yvalues_data,census_data,date)
fulldata2019['RegionName']=fulldata2019['RegionName'].astype(str)+'-'+date
fulldata2019=fulldata2017.rename(columns={date: 'Rent'})

['do_date', 'pop_5_years_over', 'speak_only_english_at_home', 'speak_spanish_at_home', 'speak_spanish_at_home_low_english', 'pop_15_and_over', 'pop_never_married', 'pop_now_married', 'pop_separated', 'pop_widowed', 'pop_divorced']

In [13]:
census_data= pd.read_csv('acs_data/acs2018.csv')
date='2020-01'
fulldata2020=dataclean(zillow_yvalues_data,census_data,date)
fulldata2020['RegionName']=fulldata2020['RegionName'].astype(str)+'-'+date
fulldata2020=fulldata2020.rename(columns={date: 'Rent'})

['do_date', 'pop_5_years_over', 'pop_15_and_over', 'pop_never_married', 'pop_now_married', 'pop_separated', 'pop_widowed', 'pop_divorced', 'speak_only_english_at_home', 'speak_spanish_at_home', 'speak_spanish_at_home_low_english']

In [14]:
cols_in_common=list(fulldata2017.columns & fulldata2016.columns & fulldata2015.columns & fulldata2014.columns & fulldata2013.columns& fulldata2018.columns & fulldata2019.columns& fulldata2020.columns)

In [15]:
fulldata=pd.concat([fulldata2017[cols_in_common], fulldata2016[cols_in_common],fulldata2015[cols_in_common],fulldata2014[cols_in_common],fulldata2013[cols_in_common]], ignore_index=True, sort=False)
cols_to_drop=['median_rent']
fulldata=fulldata.drop(cols_to_drop,axis=1)

In [16]:
#train test split
tdata_train, tdata_test = train_test_split(fulldata, test_size=0.33, random_state=100)

In [17]:
tdata_train.to_csv('Data_acsTRAIN.csv')
tdata_test.to_csv('Data_acsTEST.csv')

## Assembling prediction dataset

In [18]:
fulldatapredict=pd.concat([fulldata2018[cols_in_common], fulldata2019[cols_in_common],fulldata2020[cols_in_common]], ignore_index=True, sort=False)
cols_to_drop=['median_rent']
fulldatapredict=fulldatapredict.drop(cols_to_drop,axis=1)

In [19]:
fulldatapredict.to_csv('Data_acsPREDICT.csv')

In [20]:
fulldata

,RegionName,City,State,Rent,nonfamily_households,family_households,median_year_structure_built,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,...,sales_office_employed,some_college_and_associates_degree,walked_to_work,worked_at_home,workers_16_and_over,commute_35_44_mins,commute_60_more_mins,commute_less_10_mins,commuters_16_over,hispanic_any_race
0,10025-2017-01,New York,NY,3771.0,24367.0,19089.0,1939.0,1754.0,7527.0,2472.0,...,7155.0,9118.0,6397.0,3235.0,48892.0,6084.0,4294.0,2468.0,45657.0,21349.0
1,60657-2017-01,Chicago,IL,1770.0,25743.0,11011.0,1954.0,837.0,4002.0,1476.0,...,11098.0,6490.0,2549.0,3511.0,48723.0,6809.0,5175.0,1728.0,45212.0,4193.0
2,10023-2017-01,New York,NY,3490.0,20407.0,12348.0,1944.0,919.0,3221.0,1943.0,...,6157.0,4360.0,5562.0,3118.0,33862.0,2468.0,1858.0,896.0,30744.0,5880.0
3,77494-2017-01,Katy,TX,1203.0,3806.0,23386.0,2006.0,57.0,672.0,84.0,...,7271.0,12590.0,57.0,2459.0,39165.0,4029.0,6625.0,2256.0,36706.0,15264.0
4,60614-2017-01,Chicago,IL,1846.0,22453.0,11252.0,1962.0,696.0,3276.0,1268.0,...,10870.0,4414.0,3037.0,2799.0,45022.0,4162.0,4247.0,1839.0,42223.0,4634.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6382,64834-2013-01,Carl Junction,MO,777.0,717.0,2571.0,1992.0,186.0,268.0,28.0,...,992.0,1671.0,13.0,213.0,4276.0,63.0,88.0,226.0,4063.0,147.0
6383,14208-2013-01,Buffalo,NY,623.0,1945.0,2382.0,1939.0,217.0,901.0,253.0,...,1019.0,2311.0,375.0,86.0,3554.0,20.0,9.0,738.0,3468.0,250.0
6384,4937-2013-01,Fairfield,ME,840.0,800.0,2002.0,1972.0,51.0,165.0,108.0,...,678.0,1617.0,30.0,294.0,3107.0,102.0,276.0,447.0,2813.0,209.0
6385,12307-2013-01,Schenectady,NY,877.0,1041.0,1209.0,1939.0,123.0,367.0,250.0,...,759.0,1007.0,183.0,59.0,2186.0,58.0,123.0,436.0,2127.0,833.0
6386,75202-2013-01,Dallas,TX,1329.0,942.0,239.0,1965.0,24.0,88.0,50.0,...,322.0,456.0,259.0,12.0,1616.0,151.0,144.0,272.0,1604.0,241.0

In [ ]:
# def get_yVals(df, date):
#     '''
#     Enter in your dataframe for Zillow Rent Index, enter in your desired month/year combo for the rent values per zip code 
#     in the for 'YYYY-MM'. The output is a pandas Series with the zip codes as indexes and the rent index as its values.
#     '''
#     return pd.merge(df.iloc[:,0:8], df.iloc[:,8:].interpolate(axis=1), left_index=True, right_index=True).set_index('RegionName')[date]

In [ ]:
list(fulldata2017.columns & fulldata2016.columns & fulldata2015.columns & fulldata2014.columns & fulldata2013.columns& fulldata2018.columns & fulldata2019.columns& fulldata2020.columns)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.linear_model import LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [ ]:
#CV LASSO FOR REG DATA
cvlasso=LassoCV( alphas=np.linspace(1,1000,100), fit_intercept=True, normalize=False,cv=5)
cvlasso.fit(rent_xvals,rent_y_val)

lasso=Lasso(alpha=cvlasso.alpha_, fit_intercept=True, normalize=False)

print(f'The selected alpha was {cvlasso.alpha_} which gave r^2 of ')
print(cross_val_score(lasso, rent_xvals,rent_y_val,  scoring='r2'))