In [25]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [26]:
train_data = pd.read_csv('TRAINDATAnewcols7.19_3year.csv')
test_data = pd.read_csv('TESTDATAnewcols7.19_3year.csv')

In [27]:
#drop columns

train_data = train_data.drop(['RegionName', 'City', 'State'], axis=1)
test_data = test_data.drop(['RegionName', 'City', 'State'], axis=1)

In [28]:
train_data.columns

Index(['Rent', 'Current Rent', 'total_pop', 'median_age', 'median_income',
       'households_retirement_income', 'gini_index', 'unemployment_rate',
       'average_car_per_household', 'Perc_commuters_under_15_min',
       'Perc_commuters_over_45_min', 'Associates_College_perc',
       'Advanced_degree_perc', 'HS_perc', 'Perc_vacat_housing_units',
       'Perc_commuter_by_public_transport',
       'Perc_different_house_year_ago_same_city',
       'Perc_different_house_year_ago_dif_city',
       'perc_housing_built_2005_or_later', 'armed_forces_perc',
       'mobile_homes_perc', 'housing_built_1939_or_earlier_perc',
       'walk_to_work_perc', 'dwellings_50_or_more_units_perc', 'poverty_perc',
       'employed_in_finance_information_perc', 'housing_per_pop',
       'renter_occupied_units_perc', 'married_households_perc',
       'pop_in_labor_force_perc', 'ESTAB', 'HIFL_hospital_count',
       'HIFL_transit_station_count', 'HIFL_uni', 'HIFL_govbldg'],
      dtype='object')

In [34]:
x_df = train_data.drop(['Rent', 'Current Rent', 'total_pop', 'median_age',
       'households_retirement_income', 'gini_index', 'unemployment_rate',
       'Perc_commuters_under_15_min',
       'Perc_commuters_over_45_min',
       'Perc_different_house_year_ago_same_city',
       'Perc_different_house_year_ago_dif_city',
       'perc_housing_built_2005_or_later', 'armed_forces_perc',
       'mobile_homes_perc', 'housing_built_1939_or_earlier_perc',
       'walk_to_work_perc', 'dwellings_50_or_more_units_perc', 'poverty_perc',
       'employed_in_finance_information_perc',
       'renter_occupied_units_perc',
       'ESTAB', 'HIFL_hospital_count',
       'HIFL_transit_station_count', 'HIFL_uni', 'HIFL_govbldg'], axis=1)

In [35]:
y_df = train_data.drop(['Rent', 'Current Rent', 'total_pop', 'median_income',
       'average_car_per_household',
       'Associates_College_perc',
       'Advanced_degree_perc', 'HS_perc', 'Perc_vacat_housing_units',
       'Perc_commuter_by_public_transport',
       'perc_housing_built_2005_or_later', 'armed_forces_perc',
       'mobile_homes_perc',
       'dwellings_50_or_more_units_perc', 'poverty_perc',
       'housing_per_pop',
       'married_households_perc',
       'pop_in_labor_force_perc', 'HIFL_hospital_count',
       'HIFL_transit_station_count', 'HIFL_uni', 'HIFL_govbldg'], axis=1)

In [36]:
x_list = x_df.columns.values.tolist()
y_list = y_df.columns.values.tolist()

In [37]:
ols = LinearRegression()

In [38]:
x_list

['median_income',
 'average_car_per_household',
 'Associates_College_perc',
 'Advanced_degree_perc',
 'HS_perc',
 'Perc_vacat_housing_units',
 'Perc_commuter_by_public_transport',
 'housing_per_pop',
 'married_households_perc',
 'pop_in_labor_force_perc']

In [39]:
r2 = []
var_x = []
var_y = []
for x in x_list:
    for y in y_list:
        ols.fit(np.array(train_data[x]).reshape(-1, 1), train_data[y])
        r2.append(ols.score(np.array(train_data[x]).reshape(-1, 1), train_data[y]))
        var_x.append(x)
        var_y.append(y)
        
slr = pd.concat([pd.Series(r2), pd.Series(var_x), pd.Series(var_y)], axis=1)
slr = slr.sort_values(by=0, ascending=False)
slr = slr.rename(columns={0: 'r2', 1: 'x_var(>.8)', 2: 'y_var(>.3)'})

In [40]:
slr.head(20)

,r2,x_var(>.8),y_var(>.3)
36,0.560623,Associates_College_perc,employed_in_finance_information_perc
83,0.484725,Perc_commuter_by_public_transport,Perc_commuters_over_45_min
29,0.454814,Associates_College_perc,unemployment_rate
110,0.432994,married_households_perc,Perc_different_house_year_ago_same_city
49,0.430249,Advanced_degree_perc,employed_in_finance_information_perc
115,0.429411,married_households_perc,renter_occupied_units_perc
24,0.402151,average_car_per_household,renter_occupied_units_perc
3,0.396339,median_income,unemployment_rate
10,0.393248,median_income,employed_in_finance_information_perc
22,0.383283,average_car_per_household,walk_to_work_perc
82,0.351224,Perc_commuter_by_public_transport,Perc_commuters_under_15_min
42,0.351080,Advanced_degree_perc,unemployment_rate
120,0.331630,pop_in_labor_force_perc,unemployment_rate
21,0.324763,average_car_per_household,housing_built_1939_or_earlier_perc
106,0.311742,married_households_perc,gini_index
127,0.283916,pop_in_labor_force_perc,employed_in_finance_information_perc
15,0.258511,average_car_per_household,gini_index
62,0.246141,HS_perc,employed_in_finance_information_perc
89,0.208787,Perc_commuter_by_public_transport,renter_occupied_units_perc
93,0.202712,housing_per_pop,gini_index