In [1]:
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

In [2]:
#import data sets
train_data = pd.read_csv('TRAINDATAnewcols7_15.csv', index_col=0)
test_data = pd.read_csv('TESTDATAnewcols7_15.csv', index_col=0)

In [3]:
train_data

,RegionName,City,State,Rent,total_pop,median_age,median_income,million_dollar_housing_units,dwellings_50_or_more_units,mobile_homes,...,Perc_commuter_by_public_transport,Perc_worked_at_home,Perc_different_house_year_ago_same_city,Perc_different_house_year_ago_dif_city,perc_housing_built_2005_or_later,ESTAB,HIFL_hospital_count,HIFL_transit_station_count,HIFL_uni,HIFL_govbldg
0,30458-2015-09,Statesboro,GA,679.0,41829.0,23.2,27908.0,44.0,267.0,1592.0,...,0.018481,0.051834,0.060628,0.197877,0.013264,1026.000000,2.0,0.0,1.0,0.0
1,27701-2018-09,Durham,NC,1212.0,22595.0,32.2,31094.0,15.0,1124.0,105.0,...,0.125178,0.043449,0.191812,0.088073,0.017151,1262.357143,0.0,0.0,1.0,0.0
2,6112-2015-09,Hartford,CT,1080.0,23298.0,28.2,30199.0,39.0,134.0,14.0,...,0.242533,0.021089,0.107305,0.049532,0.000000,161.000000,1.0,0.0,0.0,0.0
3,73071-2019-09,Norman,OK,873.0,40693.0,28.4,48414.0,0.0,524.0,272.0,...,0.007434,0.018101,0.135404,0.119799,0.011447,1225.000000,1.0,0.0,0.0,0.0
4,91733-2014-09,South El Monte,CA,2372.0,43902.0,31.4,41592.0,15.0,68.0,618.0,...,0.054054,0.049902,0.018473,0.053414,0.003427,1768.000000,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6347,10014-2019-09,New York,NY,3872.0,31794.0,36.8,127973.0,1233.0,6692.0,0.0,...,0.589270,0.099853,0.110367,0.052054,0.003263,4655.000000,0.0,5.0,0.0,0.0
6348,60619-2019-09,Chicago,IL,1108.0,62992.0,39.4,32558.0,0.0,1052.0,7.0,...,0.313581,0.039935,0.103553,0.024289,0.002487,1112.000000,0.0,10.0,0.0,0.0
6349,12307-2015-09,Schenectady,NY,860.0,7619.0,30.6,21875.0,9.0,131.0,36.0,...,0.187106,0.025612,0.074682,0.061163,0.000000,119.000000,0.0,0.0,0.0,0.0
6350,19147-2015-09,Philadelphia,PA,1442.0,35014.0,34.7,60400.0,150.0,1144.0,35.0,...,0.258358,0.049072,0.100703,0.054921,0.004813,1038.000000,0.0,0.0,0.0,0.0
6351,97030-2016-09,Gresham,OR,1388.0,38011.0,35.4,42404.0,17.0,1441.0,243.0,...,0.096257,0.035584,0.066981,0.158191,0.006695,1093.000000,1.0,5.0,2.0,0.0

In [4]:
#drop columns

train_data = train_data.drop(['RegionName', 'City', 'State'], axis=1)
test_data = test_data.drop(['RegionName', 'City', 'State'], axis=1)

In [5]:
train_data.shape

(6352, 39)

In [6]:
test_data.shape

(3129, 39)

In [7]:
X_train = train_data.drop(['Rent'],axis=1)
y_train = train_data['Rent']
X_test = test_data.drop(['Rent'],axis=1)
y_test = test_data['Rent']

In [8]:
X_train.shape

(6352, 38)

In [9]:
y_train.shape

(6352,)

In [10]:
X_test.shape

(3129, 38)

In [11]:
y_test.shape

(3129,)

In [12]:
# create RandomForest

rf = RandomForestRegressor(random_state=42)

rf.fit(X_train, y_train)

print("The training error is : %.5f" % (1 - rf.score(X_train, y_train)))
print("The test error is: %.5f" % (1 - rf.score(X_test, y_test)))

The training error is : 0.03250
The test error is: 0.13331

In [13]:
# check CV score

cv_score = cross_val_score(rf, X_train, y_train, cv=5)
cv_score.mean()

0.7586847687827832

In [14]:
# create y prediction

y_pred = rf.predict(X_test)

In [15]:
# get r2 score
# get mse

print("The r2 score is : %.5f" % r2_score(y_test, y_pred))
print("The mse is : %.5f" % mean_squared_error(y_test, y_pred))
print("The mse sqrt is : %.5f" % (mean_squared_error(y_test, y_pred)**.5))

The r2 score is : 0.86669
The mse is : 69479.04802
The mse sqrt is : 263.58879

In [16]:
# create param for gridsearch

param_grid = ({
    'max_features': ['sqrt', .35, .45],
    'min_samples_split': [2, 5],
    'n_estimators': [400, 550, 700],
    'max_depth': [8, 10, 12]
})

In [17]:
# run grid search

rf_grid = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 5, return_train_score = True)

rf_grid.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
             param_grid={'max_depth': [8, 10, 12],
                         'max_features': ['sqrt', 0.35, 0.45],
                         'min_samples_split': [2, 5],
                         'n_estimators': [400, 550, 700]},
             return_train_score=True)

In [18]:
# get best params

rf_grid.best_params_

{'max_depth': 12,
 'max_features': 0.35,
 'min_samples_split': 2,
 'n_estimators': 700}

In [20]:
# create new randomForest model with new params
# (would normally just set_params but for reuse of notebook seems like a safer bet to create new)

rf2 = RandomForestRegressor(max_depth=12, max_features=0.35,
                            min_samples_split=2, n_estimators=700, random_state=42)

rf2.fit(X_train, y_train)

print("The new training error is : %.5f" % (1 - rf2.score(X_train, y_train)))
print("The new test error is: %.5f" % (1 - rf2.score(X_test, y_test)))

The new training error is : 0.04603
The new test error is: 0.13695

In [21]:
# create new y predict

y_new_pred = rf2.predict(X_test)

In [22]:
# updated r2 score
# updated mse

print("The r2 score is : %.5f" % r2_score(y_test, y_pred))
print("The mse is : %.5f" % mean_squared_error(y_test, y_pred))
print("The mse sqrt is : %.5f" % (mean_squared_error(y_test, y_pred)**.5))

print("The new r2 score is : %.5f" % r2_score(y_test, y_new_pred))
print("The new mse is : %.5f" % mean_squared_error(y_test, y_new_pred))
print("The new mse sqrt is : %.5f" % (mean_squared_error(y_test, y_new_pred)**.5))

The r2 score is : 0.86669
The mse is : 69479.04802
The mse sqrt is : 263.58879
The new r2 score is : 0.86305
The new mse is : 71378.78415
The new mse sqrt is : 267.16808